#login_notes_settings {
	.note {
		.datetime {
			color: var(--color-text-lighter);
			font-size: 0.8em;
		}
		margin-bottom: 10px;
		padding-left: 1rem;
		box-shadow: inset 4px 0 var(--color-primary)
	}

	form {
		textarea {
			width: 600px;
			height: 70px;
		}

		div, &.form-edit {
			display: flex;
			align-items: center;
		}
	}

	form.alignment {
		margin-bottom: 1rem;
	}
}
