<!--
 - @copyright Copyright (c) 2020 Thomas Citharel <nextcloud@tcit.fr>
 -
 - @author Thomas Citharel <nextcloud@tcit.fr>
 -
 - @license GNU AGPL version 3 or any later version
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU Affero General Public License as
 - published by the Free Software Foundation, either version 3 of the
 - License, or (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 - GNU Affero General Public License for more details.
 -
 - You should have received a copy of the GNU Affero General Public License
 - along with this program. If not, see <http://www.gnu.org/licenses/>.
 -
 -->

<template>
	<div id="login_notes_settings" class="section">
		<h2>{{ t('login_notes', 'Notes on login screen') }}</h2>
		<form class="alignment">
			<h3>{{ t('login_notes', 'Text alignment') }}</h3>
			<fieldset>
				<p>
					<input id="login_notes_aligned"
						v-model="alignment"
						type="radio"
						name="alignment"
						class="radio"
						value="aligned">
					<label for="login_notes_aligned">
						{{ t('login_notes', 'Aligned') }}<br>
						<em>{{ t('login_notes', 'Note content will be aligned to left (or right with RTL languages).') }}</em>
					</label>
				</p>
				<p>
					<input id="login_notes_centered"
						v-model="alignment"
						type="radio"
						name="alignment"
						class="radio"
						value="centered">
					<label for="login_notes_centered">
						{{ t('login_notes', 'Centered') }}<br>
						<em>{{ t('login_notes', 'Note content will be centered.') }}</em>
					</label>
				</p>
			</fieldset>
		</form>
		<h3>{{ t('login_notes', 'Notes list') }}</h3>
		<p class="settings-hint">
			{{ t('login_notes', 'These notes will be shown on the login screen.') }}
		</p>
		<div v-if="notes.length > 0" class="notes">
			<Note v-for="note in notes"
				:key="note.id"
				:note="note"
				@delete="deleteNote"
				@update="updateNote" />
		</div>
		<span v-else>
			{{ t('login_notes', 'No notes yet') }}
		</span>
		<form @submit.prevent="newNote">
			<h3>{{ t('login_notes', 'New login note') }}</h3>
			<div>
				<label>
					<textarea v-model="newNoteData.text"
						:placeholder="t('login_notes', 'Enter the text for your new login note here. Markdown supported.')" />
				</label>
				<button type="submit">
					{{ t('login_notes', 'Add new note') }}
				</button>
			</div>
		</form>
	</div>
</template>
<script>
import { loadState } from '@nextcloud/initial-state'
import Note from '../components/Note.vue'
import axios from '@nextcloud/axios'
import { generateUrl } from '@nextcloud/router'
import Vue from 'vue'

export default {
	name: 'Settings',
	components: { Note },
	data() {
		return {
			notes: loadState('login_notes', 'notes'),
			alignment: loadState('login_notes', 'centered') === true ? 'centered' : 'aligned',
			newNoteData: { text: '', created_at: 0 },
		}
	},
	watch: {
		async alignment(alignment) {
			await axios.post(generateUrl('/apps/login_notes/settings'), {
				centered: alignment === 'centered',
			})
		},
	},
	methods: {
		async newNote() {
			const note = await axios.post(generateUrl('/apps/login_notes/notes'), {
				text: this.newNoteData.text,
			})
			this.notes.push(note.data)
			this.newNoteData.text = ''
		},
		async deleteNote(noteId) {
			try {
				await axios.delete(generateUrl(`/apps/login_notes/notes/${noteId}`))
				this.notes = this.notes.filter(note => note.id !== noteId)
			} catch (e) {
				console.error(e)
			}
		},
		async updateNote({ text, id }) {
			try {
				const { data } = await axios.patch(generateUrl(`/apps/login_notes/notes/${id}`), { text })
				Vue.set(this.notes, this.notes.findIndex(note => note.id === id), data)
			} catch (e) {
				console.error(e)
			}
		},
	},
}
</script>
