<!--
 - @copyright Copyright (c) 2020 Thomas Citharel <nextcloud@tcit.fr>
 -
 - @author Thomas Citharel <nextcloud@tcit.fr>
 -
 - @license GNU AGPL version 3 or any later version
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU Affero General Public License as
 - published by the Free Software Foundation, either version 3 of the
 - License, or (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 - GNU Affero General Public License for more details.
 -
 - You should have received a copy of the GNU Affero General Public License
 - along with this program. If not, see <http://www.gnu.org/licenses/>.
 -
 -->

<template>
	<div class="note">
		<!-- eslint-disable-next-line vue/no-v-html -->
		<div v-if="!editMode" v-html="note.text" />
		<form v-if="editMode" class="form-edit" @submit.prevent="updateNote">
			<label>
				<textarea v-model="updatedNote" :placeholder="t('login_notes', 'Enter the text for the updated login note here. Markdown supported.')" />
			</label>
			<button type="submit">
				{{ t('login_notes', 'Update note') }}
			</button>
			<button type="button" @click="editMode = false">
				{{ t('login_notes', 'Cancel') }}
			</button>
		</form>
		<span class="datetime">{{ formatDateTime(note.createdAt) }}</span>
		<!-- eslint-disable-next-line vue/attribute-hyphenation -->
		<Actions :forceMenu="true">
			<ActionButton icon="icon-rename" @click="editMode = true">
				{{ t('login_notes', 'Edit') }}
			</ActionButton>
			<ActionButton icon="icon-delete" @click="deleteNote(note.id)">
				{{ t('login_notes', 'Delete') }}
			</ActionButton>
		</Actions>
	</div>
</template>
<script>
// eslint-disable-next-line node/no-unpublished-import
import moment from '@nextcloud/moment'
import { Actions, ActionButton } from '@nextcloud/vue'
export default {
	name: 'Note',
	components: {
		Actions, ActionButton,
	},
	props: {
		note: {
			type: Object,
			required: true,
		},
	},
	data() {
		return {
			editMode: false,
			updatedNote: this.note.rawText,
		}
	},
	methods: {
		formatDateTime(createdAt) {
			return moment(createdAt * 1000).format('LLL')
		},
		deleteNote(noteId) {
			this.$emit('delete', noteId)
		},
		updateNote() {
			this.$emit('update', { text: this.updatedNote, id: this.note.id })
			this.editMode = false
		},
	},
}
</script>
